<div>
    <span class="card__success"><i class="fas fa-check"></i></span>
    <div class="msg">
        <h1>Success!</h1>
        <h1 class="card_msg">Order Placed</h1>
        <h2 class="card_submsg">We have send you all the over the email and our 
            representative will get back to you. you just complete your payment 
            and share screen shot with us on whatsapp number 032323232332.</h2>
        <button class="btn btn-success" (click)="redirectToHomePage()">OK</button>
    </div>
</div>
